*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
}
.body{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: .8;
  }
.heading{
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 10vh;
   position:absolute;
   margin-top: 30vh;
   margin-left: 64vh;
   color: white;
   text-align: center;
   border: 3px solid white;
   padding: 10px;

}
.contr{
    font-size: 5vh;
}
button{
    font-size: 16px;
    height: 35px;
    width: 120px;
    background-color: rgb(78, 146, 102);
    border: none;
    color: white;
    cursor: pointer;
}
button:hover{
height: 40px;
width: 150px;
font-size: 20px;

}
